new_api/validators/xml/get_place_schema.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="places">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="place" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:whiteSpace value="collapse"/>
                        <xs:minLength value="4"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="coordinates">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="latitude">
                        <xs:simpleType>
                            <xs:restriction base="xs:float">
                                <xs:minInclusive value="-90.0"/>
                                <xs:maxInclusive value="90.0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="longitude">
                        <xs:simpleType>
                            <xs:restriction base="xs:float">
                                <xs:minInclusive value="-90.0"/>
                                <xs:maxInclusive value="90.0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:integer" name="id" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>