validator/favourite.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="routes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="route" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="5"/>
                    <xs:maxLength value="50"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="places">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:positiveInteger" name="start_id"/>
                    <xs:element type="xs:positiveInteger" name="end_id"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:positiveInteger" name="id" use="required"/>
          </xs:complexType>
        </xs:element>  
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
            